<md-card class="example-card">
  <md-card-header>
    <md-card-title>{{story.authorUserId}}</md-card-title>
    <md-card-subtitle>{{story.date}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>{{story.scoring}}</p>
    <md-button-toggle-group value="thumbSelected" #group="mdButtonToggleGroup" (change)="toggleVote(group.value)">
      <md-button-toggle value="thumbUp">
        <md-icon color="primary">thumb_up</md-icon>
      </md-button-toggle>

      <md-button-toggle value="thumbDown">
        <md-icon color="primary">thumb_down</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>
    <div>
    </div>
    <p>
      {{story.text}}
    </p>
  </md-card-content>
</md-card>
