<md-toolbar color="primary">
  <md-toolbar-row><h1>Erasmus Stories</h1></md-toolbar-row>
  <md-toolbar-row>  <div>
    <button md-icon-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
    <button md-icon-button (click)="onNavigate('game')"><i class="material-icons">account_circle</i></button>
    <button md-icon-button (click)="onNavigate('story')"><i class="material-icons">library_books</i></button>
    <button md-icon-button [mdMenuTriggerFor]="menu"><i class="material-icons">notifications</i></button>
  </div>

    <button md-icon-button (click)="onPowerButton()"><i ngStyle="" class="material-icons">power_settings_new</i></button>
    <md-menu #menu="mdMenu" yPosition="below">
      <div *ngFor="let mssg of notifications">
        <button md-menu-item disabled>
          <md-icon>{{mssg?.icon}}</md-icon>
          <span>{{mssg?.message}}</span>
        </button>
        <button *ngIf="notifications.length == 0" md-menu-item disabled>
          <span>You have 0 notifications</span>
        </button>
      </div>
    </md-menu>
  </md-toolbar-row>





  &nbsp;&nbsp;&nbsp;&nbsp;


</md-toolbar>

  <md-sidenav #sidenav class="sidenav" (click)="sidenav.toggle()">

    <button md-menu-item (click)="onNavigate('profile')">
      <md-icon>settings</md-icon>
      <span>Your profile</span>
    </button>
    <button md-menu-item>
      <md-icon>library_books</md-icon>
      <span>Your stories</span>
    </button>
    <button md-menu-item>
      <md-icon>insert_emoticon</md-icon>
      <span>Your awards</span>
    </button>
    <button md-menu-item>
      <md-icon>chat_bubble_outline</md-icon>
      <span>Chat</span>
    </button>
    <button md-menu-item>
      <md-icon>power_settings_new</md-icon>
      <span>Log out</span>
    </button>
  </md-sidenav>



