<md-toolbar color="primary">
  <button md-icon-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
  <button md-icon-button (click)="onNavigate('game')"><i class="material-icons">assignment_ind</i></button>
  <button md-icon-button (click)="onNavigate('story')"><i class="material-icons">library_books</i></button>
  <button md-icon-button [mdMenuTriggerFor]="menu"><i class="material-icons">notifications</i></button>
  <button md-icon-button (click)="onNavigate('login')" *ngIf="!isAuthenticated"><i ngStyle="" class="material-icons">account_circle</i></button>
  <button md-icon-button (click)="onLogout()" *ngIf="isAuthenticated"><i ngStyle="" class="material-icons">exit_to_app</i></button>

  <md-menu #menu="mdMenu" yPosition="below">
    <span>Hier notificationene</span>
  </md-menu>

  &nbsp;&nbsp;&nbsp;&nbsp;
  <h1>Erasmus Stories</h1>

</md-toolbar>

  <md-sidenav #sidenav class="sidenav" (click)="sidenav.toggle()">
    Profile
    <br>
    Your stories
    <br>
    Chat
  </md-sidenav>



