<md-card class="example-card">
  <md-card-header>
    <img md-card-avatar [src]="user?.url"/>
    <md-card-title>{{user?.name}}</md-card-title>
    <md-card-subtitle>{{user?.country}}, {{user?.city}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <md-card-content>
    <p>
      TExt text text
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary">ADD ON FB</button>
    <button md-raised-button color="primary">CHAT</button>
    <button md-raised-button color="primary">STORIES</button>
  </md-card-actions>
</md-card>
